<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="ui raised text container">
  <div class="ui top attached segment">
    <form class="ui form" action="/register" method="POST">
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username or Email">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <!-- <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div> -->
      <button class="ui button" type="submit">Register</button>
    </form>
  </div>
</div>

<% include ./partials/footer %>
