.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}


#delete-form {
    display: inline;
}

#delete {
    display: inline;
}

#delete-form button{
  background-color: transparent;
  border: none;
  color: rgba(0,0,0,.4);
  padding: 0;
  text-decoration: none;
  display: inline-block;
}

a.icon-block {
        display:inline-block;
        width:10em;
        float:left;
        text-align:center;
    }

    a.icon-block i,
    a.icon-block span {
        display:block;
        width:100%;
        clear:both;
    }


i.icon {
    font-size: 1.3em;
}

.ui.raised.container {
    margin-top: 4.5em;
}

#alert-container {
    margin-top: 3.8em;
}
